<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Riff.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94D06E8D305B8DAA0026DEB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D06E9A305B8DAC0026DEB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D06EA4305B8DAC0026DEB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
